In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv("autos.csv")

In [3]:
df.head()

,symboling,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9,111,5000,21,27,13495
1,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9,111,5000,21,27,16500
2,1,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9,154,5000,19,26,16500
3,2,audi,gas,std,4,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10,102,5500,24,30,13950
4,2,audi,gas,std,4,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8,115,5500,18,22,17450

In [4]:
for i in ['make','fuel_type','body_style','drive_wheels','engine_location','engine_type','fuel_system','aspiration']:
    df[i] = df[i].astype('category').cat.codes

In [5]:
df.head()

,symboling,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,0,1,0,2,0,2,0,88.6,168.8,...,130,4,3.47,2.68,9,111,5000,21,27,13495
1,3,0,1,0,2,0,2,0,88.6,168.8,...,130,4,3.47,2.68,9,111,5000,21,27,16500
2,1,0,1,0,2,2,2,0,94.5,171.2,...,152,4,2.68,3.47,9,154,5000,19,26,16500
3,2,1,1,0,4,3,1,0,99.8,176.6,...,109,4,3.19,3.40,10,102,5500,24,30,13950
4,2,1,1,0,4,3,0,0,99.4,176.6,...,136,4,3.19,3.40,8,115,5500,18,22,17450

In [6]:
df.describe()

,symboling,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
count,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,...,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000
mean,0.797927,12.036269,0.901554,0.181347,3.160622,2.621762,1.326425,0.015544,98.923834,174.326425,...,128.124352,2.632124,3.330622,3.248860,9.860104,103.481865,5099.740933,25.326425,30.787565,13285.025907
std,1.235582,5.904071,0.298691,0.386308,0.989583,0.870191,0.551679,0.124025,6.152409,12.478593,...,41.590452,1.582589,0.272385,0.315421,4.002098,37.960107,468.694369,6.387828,6.816910,8089.082886
min,-2.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,86.600000,141.100000,...,61.000000,0.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,0.000000,8.000000,1.000000,0.000000,2.000000,2.000000,1.000000,0.000000,94.500000,166.300000,...,98.000000,1.000000,3.150000,3.110000,8.000000,70.000000,4800.000000,19.000000,25.000000,7738.000000
50%,1.000000,12.000000,1.000000,0.000000,4.000000,3.000000,1.000000,0.000000,97.000000,173.200000,...,120.000000,4.000000,3.310000,3.290000,9.000000,95.000000,5100.000000,25.000000,30.000000,10245.000000
75%,2.000000,18.000000,1.000000,0.000000,4.000000,3.000000,2.000000,0.000000,102.400000,184.600000,...,146.000000,4.000000,3.590000,3.410000,9.000000,116.000000,5500.000000,30.000000,34.000000,16515.000000
max,3.000000,20.000000,1.000000,1.000000,4.000000,4.000000,2.000000,1.000000,120.900000,208.100000,...,326.000000,6.000000,3.940000,4.170000,23.000000,262.000000,6600.000000,49.000000,54.000000,45400.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          193 non-null    int64
 1   make               193 non-null    int8
 2   fuel_type          193 non-null    int8
 3   aspiration         193 non-null    int8
 4   num_of_doors       193 non-null    int64
 5   body_style         193 non-null    int8
 6   drive_wheels       193 non-null    int8
 7   engine_location    193 non-null    int8
 8   wheel_base         193 non-null    float64
 9   length             193 non-null    float64
 10  width              193 non-null    float64
 11  height             193 non-null    float64
 12  curb_weight        193 non-null    int64
 13  engine_type        193 non-null    int8
 14  num_of_cylinders   193 non-null    int64
 15  engine_size        193 non-null    int64
 16  fuel_system        193 non-null    int8
 17  bore               193 non-null    float64
 18  stroke             193 non-null    float64
 19  compression_ratio  193 non-null    int64
 20  horsepower         193 non-null    int64
 21  peak_rpm           193 non-null    int64
 22  city_mpg           193 non-null    int64
 23  highway_mpg        193 non-null    int64
 24  price              193 non-null    int64
dtypes: float64(6), int64(11), int8(8)
memory usage: 27.3 KB

In [8]:
df.isna().sum()

symboling            0
make                 0
fuel_type            0
aspiration           0
num_of_doors         0
body_style           0
drive_wheels         0
engine_location      0
wheel_base           0
length               0
width                0
height               0
curb_weight          0
engine_type          0
num_of_cylinders     0
engine_size          0
fuel_system          0
bore                 0
stroke               0
compression_ratio    0
horsepower           0
peak_rpm             0
city_mpg             0
highway_mpg          0
price                0
dtype: int64

In [9]:
X = df.drop(["price"],axis = 1)
Y = df['price']

In [10]:
scaler = StandardScaler()
scaler.fit(X)
X = scaler.transform(X)

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

In [12]:
X_train.shape

(135, 24)

In [13]:
y_train.shape

(135,)

In [14]:
pca = PCA(n_components = 2)
 
X_train = pca.fit_transform(X_train)
X_test = pca.transform(X_test)

In [18]:
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)

LogisticRegression(random_state=0)

In [19]:
y_pred = classifier.predict(X_test)

In [20]:
y_pred

array([40960,  5572, 13845,  6229, 12440, 13499, 16500,  7898, 16500,
       13499,  8921,  6229,  5572, 34184, 13499,  5572,  5572,  9279,
        5572,  8921,  5572, 13499, 19699, 13499, 13499, 13499, 16500,
        6229,  9279,  8921, 13499, 32528, 31600,  7898, 28176, 13499,
       16500,  6229,  8921, 16500,  6229,  8921,  6229,  6229,  6229,
        8238,  8921, 31600, 13499,  6229, 16500,  5572, 16500, 16500,
        5572, 13950, 16500, 16430], dtype=int64)